<article class="post">
  <div class="title">
    <article class = "title-name">{{title}}</span>
    <div>Posted by {{user.username}} on {{format_date created_at}}</div>
  </div>
  <div class="meta">
    
    {{post_url}}    
    |
    <a href="/post/{{id}}">{{comments.length}} {{format_plural "comment" comments.length}}</a>
  </div>
</article>